<div class="battle">
  <canvas #battleCanvas width="1570" height="1080"
    (window:resize)="onResize()" (window:keydown)="onKeyDown($event)"
    (window:keyup)="onKeyUp($event)" (window:mousedown)="onMouseDown($event)"
    (window:mouseup)="onMouseUp($event)" (window:mousemove)="onMouseMove($event)">
  Not working in your browser
  </canvas>
</div>
<div class="interface">
  <app-initiative-block (changeSelected)="onPositionSelect($event?.x, $event?.y)"></app-initiative-block>
  <div class="control-block" *ngIf="isMyTurn; else anotherTurn">
    <div class="casting-block">
      <app-action-points-block
        [actionPointsMaxCount]="maxActionPoints"
        [currentActionPointsCount]="currentActionPoints"
        [actionPointsAfterSpendCount]="actionPointsAfterSpend"
        [actorColor]="currentActorColor"></app-action-points-block>
      <div class="skills">
        <app-hotkeyed-button *ngFor="let item of skillList" [ngClass]="{
          active: item.pressed && item.smartValue === 0,
          toggled: item.smartValue === 1,
          disabled: !canAct || item.disabled,
          'active-toggled': item.pressed && item.smartValue === 1
        }" [disabled]="!canAct" [smartAction]="item">
          <div class="text-font-inactive">{{item.smartValue === 0 ? item.hotKey : 'X'}}) {{item.title}}</div>
          <div class="article-font-inactive">&nbsp;&nbsp;&nbsp;cost: {{item.smartObject.cost}}, 
            {{item.smartObject.preparationTime > 0 ? item.smartObject.preparationTime + ' turn' + (item.smartObject.preparationTime > 1 ? 's left' : ' left') : 'ready'}}</div>
        </app-hotkeyed-button>
      </div>
    </div>
    <app-hotkeyed-button [smartAction]="endTurn" class="end-turn" 
      [style.background]="endTurn.pressed ?
        'linear-gradient(to right, #aa0 ' + (endTurn.smartValue * 100) + '%, #ff4 ' + (endTurn.smartValue * 100) + '%)' :
        '#fff'">
      <div class="text-font-inactive medium">-------</div>
      <div class="button-content">
        <div class="text-font-inactive medium">{{endTurn.title}}</div>
        <div class="article-font-inactive small">(hold space)</div>
      </div>
      <div class="text-font-inactive medium">-------</div>
    </app-hotkeyed-button>
  </div>
  <ng-template #anotherTurn><div class="non-control-block title-font-inactive">Enemy turn</div></ng-template>
</div>