<div class="battle">
  <canvas #battleCanvas width="1570" height="1080"
    (window:resize)="onResize()" (window:keydown)="onKeyDown($event)"
    (window:keyup)="onKeyUp($event)" (window:mousedown)="onMouseDown($event)" (window:keypress)="onKeyPress($event)"
    (window:mouseup)="onMouseUp($event)" (window:mousemove)="onMouseMove($event)">
  Not working in your browser
  </canvas>
</div>
<div class="interface">
  <app-initiative-block (changeSelected)="onPositionSelect($event?.x, $event?.y)"></app-initiative-block>
</div>