<div class="battle">
  <canvas #battleCanvas
    (window:resize)="onResize()" (window:keydown)="onKeyDown($event)"
    (window:keyup)="onKeyUp($event)" (window:mousedown)="onMouseDown($event)"
    (window:mouseup)="onMouseUp($event)" (window:mousemove)="onMouseMove($event)">
  Not working in your browser
  </canvas>
</div>
<div class="interface">
  <div class="modal window name-window">
    <div class="row nowrap">
      <app-menu-icon (click)="openSettings()"></app-menu-icon>
      <div class="title-font-inactive">{{userName}}</div>
    </div>
  </div>
  <div class="modal window">
    <app-initiative-block (changeSelected)="onPositionSelect($event?.x, $event?.y)" (rightClick)="openModalFromPosition($event?.x, $event?.y)"></app-initiative-block>
    <div class="control-block" *ngIf="isMyTurn; else anotherTurn">
      <div class="casting-block">
        <app-action-points-block
          [actionPointsMaxCount]="maxActionPoints"
          [currentActionPointsCount]="currentActionPoints"
          [actionPointsAfterSpendCount]="actionPointsAfterSpend"
          [actorColor]="currentActorColor"></app-action-points-block>
        <div class="skills">
          <app-hotkeyed-button (mouseDown)="resetButtonsPressedState()" (mouseUp)="changed = true;" *ngFor="let item of skillList" [pressedKey]="pressedKey" [ngClass]="{
            active: item.pressed && item.smartValue === 0,
            toggled: item.smartValue === 1,
            disabled: item.disabled,
            'active-toggled': item.pressed && item.smartValue === 1
          }" [smartAction]="item" [disabled]="item.disabled" (rightClick)="openSkillModal($event)">
            <div class="text-font-inactive">{{item.smartValue === 0 || item.disabled ? item.keyVisualization : 'X'}}) {{item.title}}</div>
            <div class="article-font-inactive">&nbsp;&nbsp;&nbsp;cost: {{item.smartObject.cost}}, 
              {{item.smartObject.preparationTime > 0 ? item.smartObject.preparationTime + ' turn' + (item.smartObject.preparationTime > 1 ? 's left' : ' left') : 'ready'}}</div>
          </app-hotkeyed-button>
        </div>
      </div>
      <div class="wsad text-font-inactive">
        W S A D - Move
      </div>
    </div>
    <ng-template #anotherTurn><div class="non-control-block title-font-inactive">Enemy turn</div></ng-template>
  </div>
</div>