:host {
  display: flex;
  flex-direction: row;

  .portrait {
    box-sizing: border-box;
    border: double;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-portrait {
    padding: 9px 21px;
    width: 90px;
    height: 90px;
    border-width: 6px;
    font-size: 45px;
  }

  .small-portrait {
    padding: 6px 12px;
    width: 50px;
    height: 50px;
    border-width: 4px;
  }

  .right-side {
    display: flex;
    flex-direction: column;

    .portraits-container {
      display: flex;
      flex-direction: row;
    }

    .timer {
      margin: 6px 2px 12px 12px;
      height: 20px;
      min-height: 20px;
    }
  }
}