:host {
  @import '../../ascii.module.scss';

  display: flex;
  width: 100%;

  .modal-size {
    width: 700px;
    max-width: 700px;
    padding: 16px;
  }

  .title {
    display: flex;
    .decoration-icon {
      position: relative;
      box-sizing: border-box;
      border: double;
      padding: 9px 21px;
      width: 90px;
      height: 90px;
      min-width: 90px;
      min-height: 90px;
      border-width: 6px;
      font-size: 45px;
      .health {
        color: #bbb;
        position: absolute;
        right: 0px;
        padding: 0 6px;
        left: 0px;
        background: #000414;
        top: 2px;
        font-size: 14px;
        line-height: 14px !important;
      }
    }
    .decoration-info-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 16px;
      margin-top: 4px;
      .decoration-name {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .description {
    margin-top: 16px;
  }
}