<div class="overlay-container">
  <div class="modal modal-size">
    <div class="title">
      <app-texture-icon class="decoration-icon" [textureService]="charsService" [style.borderColor]="color" [definition]="definition">
        <div class="text-font-inactive health" *ngIf="health">{{health.current}}/{{health.max}}</div>
      </app-texture-icon>
      <div class="decoration-info-container">
        <div class="title-font-inactive decoration-name">{{name}}</div>
      </div>
    </div>
    <div class="description text-font-inactive">
      {{description}}
    </div>
  </div>
  <app-modal-tabs-component *ngIf="tabs.length > 0" [modalObjects]="tabs" (chooseItem)="changeTab($event)"></app-modal-tabs-component>
</div>
<div class="overlay-filler"></div>