<canvas #lobbyCanvas>
  Not working in your browser
</canvas>
<canvas #hudCanvas class="hud" (window:resize)="onResize()" (mousedown)="onMouseDown($event)"
  (window:mouseup)="onMouseUpWindow($event)" (mouseleave)="onMouseLeave()"
  (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" [style.cursor]="cursor || 'default'"></canvas>
<div class="info-container">
  <div *ngIf="currentActor" class="modal window hint-window">
    <div *ngIf="!hintDeclaration; else hintInfo" class="small-font-inactive paragraph">
      Point cursor at the element to get its description 
    </div>
    <ng-template #hintInfo>
      <div class="text-font-inactive paragraph" *ngIf="hintDeclaration.title">
        {{hintDeclaration.title}}
      </div>
      <div class="small-font-inactive paragraph error" *ngIf="hintDeclaration.error">
        {{hintDeclaration.error}}
      </div>
      <div class="small-font-inactive paragraph" *ngIf="hintDeclaration.description">
        {{hintDeclaration.description}}
      </div>
      <div class="small-font-inactive paragraph" *ngIf="hintDeclaration.paragraphs.length > 0">
        <p *ngFor="let item of hintDeclaration.paragraphs">{{item}}</p>
      </div>
    </ng-template>
  </div>
  <div class="modal window">
    <div class="row nowrap">
      <app-menu-icon (click)="openSettings()"></app-menu-icon>
      <div class="title-font-inactive">{{userName}}</div>
    </div>
    <div class="row">
      <div class="filler"></div>
      <div class="article-font-inactive experience-icon">EX</div>
      <div class="article-font-inactive value">{{userExperience}}</div>
    </div>
  </div>
  <div class="modal window patrol">
    <div *ngIf="!fullParty">
      <p class="text-font-inactive">You cannot patrol until your party is full. Proceed to tavern for new recruits.</p>
    </div>
    <app-button *ngIf="!inQueue && fullParty" [size]="componentSizeEnum.Large" (buttonClick)="patrol()" [disabled]="openedModal">Patrol</app-button>
    <div *ngIf="inQueue">
      <p class="text-font">Patrolling</p>
      <p class="title-font time">{{ queueTimePassed | date: 'm:ss' }}</p>
      <app-button *ngIf="!exitingFromQueue" type="button" [size]="componentSizeEnum.Medium" (buttonClick)="cancelPatrol()" [disabled]="openedModal">Return</app-button>
      <p *ngIf="exitingFromQueue" class="text-font">Returning...</p>
    </div>
  </div>
  <div class="modal window" *ngIf="!currentActor">
    <app-button (buttonClick)="toTavern()" [disabled]="openedModal">Tavern</app-button>
  </div>
</div>
<app-talents-modal *ngIf="currentActor"
  [data]="currentActor"
  (closeEvent)="this.currentActor = undefined; this.changed = true;"
  (hintEvent)="hintDeclaration = $event;"
></app-talents-modal>