<canvas #lobbyCanvas></canvas>
<div class="info-container">
  <div class="modal window">
    <div class="row">
      <app-menu-icon (click)="openSettings()"></app-menu-icon>
      <div class="title-font-inactive">{{userName}}</div>
    </div>
    <div *ngIf="false" class="row">
      <div class="filler"></div>
      <div class="article-font-inactive experience-icon">EX</div>
      <div class="article-font-inactive value">0</div>
    </div>
  </div>
  <div class="modal window patrol">
    <app-button *ngIf="!inQueue" [size]="componentSizeEnum.Large" (buttonClick)="patrol()">Patrol</app-button>
    <div *ngIf="inQueue">
      <p class="text-font">Patrolling</p>
      <p class="title-font time">{{ queueTimePassed | date: 'm:ss' }}</p>
      <app-button *ngIf="!exitingFromQueue" type="button" [size]="componentSizeEnum.Medium" (buttonClick)="cancelPatrol()">Return</app-button>
      <p *ngIf="exitingFromQueue" class="text-font">Returning...</p>
    </div>
  </div>
  <div class="modal window">
    <app-button (buttonClick)="toTavern()">Tavern</app-button>
  </div>
</div>