:host {
  @import '../../ascii.module.scss';

  display: flex;
  width: 100%;

  .modal-size {
    width: 300px;
  }

  .victory {
    text-align: center;
    margin: 24px;
  }

  .press-any-key {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 24px;
    margin-top: 12px;
  }
}