<div class="overlay-container" (click)="closeOnClick($event)">
  <div class="modal modal-size">
    <app-modal-loading *ngIf="loading" [errors]="errors" (finishLoading)="loading = false; errors = undefined;"></app-modal-loading>
    <div class="text-font-inactive text-container">
      <div class="filler"></div>
      <app-button class="close-button" [size]="componentSizeEnum.Small" (buttonClick)="close()">X</app-button>
    </div>
    <div class="info">
      <app-reward-for-modal></app-reward-for-modal>
      <app-button class="close-button" [size]="componentSizeEnum.Medium" (buttonClick)="leave()">{{isPlaying ? 'Surrender' : 'Leave'}}</app-button>
    </div>
  </div>
</div>
<div class="overlay-filler" (click)="closeOnClick($event)"></div>