.overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.overlay-filler {
  min-width: 362px;
  max-width: 362px;
  width: 362px;
}

.modal {
  margin: 12px 24px;
  position: relative;
}