<div class="battle">
  <canvas #battleCanvas
    (window:resize)="onResize()" (window:mousemove)="onMouseMove($event)"
    (window:keydown)="onKeyDown($event)" (window:keyup)="onKeyUp($event)"
    (window:mousedown)="onMouseDown($event)" (window:mouseup)="onMouseUp($event)">
    Not working in your browser
  </canvas>  
  <canvas #hudCanvas class="hud"></canvas>
</div>
<app-context-menu *ngIf="canAct" [conflict]="false" [actions]="scene.currentActor.actions" [currentAction]="chosenAction" (act)="chooseAction($event)"></app-context-menu>
<div class="interface">
  <div class="modal window name-window">
    <div class="row nowrap">
      <app-menu-icon (click)="openSettings()"></app-menu-icon>
      <div class="title-font-inactive">{{userName}}</div>
    </div>
  </div>
</div>