.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1
}

.modal {
  border: double 4px #fff;
  background: #000414;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}