:host {
  canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000414;
    z-index: 9999;
  }
  .hud {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
  }
}