<div class="overlay-container" (click)="closeOnClick($event)">
  <div class="modal lobby-modal">
    <div class="header">
      <div class="character-info">
        <div class="name-container title-font-inactive">
          <div class="name" [style.color]="color">{{name}}</div>0/15
        </div>
        <div class="text-font-inactive description" [style.color]="color">{{description}}</div>
      </div>
      <div class="buttons">
        <app-button [size]="componentSizeEnum.Small" (buttonClick)="undo()">Undo</app-button>
      </div>
      <app-button class="close-button" [size]="componentSizeEnum.Small" (buttonClick)="close()">X</app-button>
    </div>
    <canvas #talentsCanvas></canvas>
  </div>
</div>
<div class="overlay-filler" (click)="closeOnClick($event)"></div>