<div class="overlay-container">
  <div class="modal lobby-modal">
    <app-modal-loading *ngIf="loading" [errors]="errors" (finishLoading)="loading = false; errors = undefined;"></app-modal-loading>
    <div class="header">
      <div class="character-info">
        <div class="name-container title-font-inactive">
          <div class="name">{{name}}</div>{{talentsCount}}/{{talentsMaxCount}}
        </div>
      </div>
      <div class="buttons">
        <app-button [size]="componentSizeEnum.Small" (buttonClick)="undo()">Undo</app-button>
      </div>
      <app-button class="close-button" [size]="componentSizeEnum.Small" (buttonClick)="close()">X</app-button>
    </div>
    <div class="text-font-inactive description">
      <span class="name" [style.color]="color">{{description}}</span>
      <span (mouseenter)="showStrengthHint()" (mouseleave)="hideHint()">St: {{strength}}</span>
      <span (mouseenter)="showWillpowerHint()" (mouseleave)="hideHint()">Wi: {{willpower}}</span>
      <span (mouseenter)="showConstitutionHint()" (mouseleave)="hideHint()">Co: {{constitution}}</span>
      <span (mouseenter)="showSpeedHint()" (mouseleave)="hideHint()">Sp: {{speed}}</span></div>
    <canvas #talentsCanvas (window:resize)="onResize()" (mousedown)="onMouseDown($event)"
      (window:mouseup)="onMouseUpWindow($event)" (mouseleave)="onMouseLeave()"
      (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" [style.cursor]="cursor || 'default'"></canvas>
  </div>
</div>