<div class="overlay-container">
  <div class="modal modal-size">
    <div class="title">
      <div class="decoration-icon title-font-inactive" [style.color]="decorationColor" [style.border-color]="decorationColor">
        <div class="health">{{decorationHealth}}/{{decorationMaxHealth}}</div>
        {{decorationChar}}
      </div>
      <div class="decoration-info-container">
        <div class="title-font-inactive decoration-name">{{decorationName}}</div>
      </div>
    </div>
    <div class="description text-font-inactive">
      {{decorationDescription}}
    </div>
  </div>
</div>
<div class="overlay-filler"></div>