.overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.overlay-filler {
  min-width: 374px;
  max-width: 374px;
  width: 374px;
}

.close-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  app-button {
    width: 76px;
  }
}

.close-button {
  width: 76px;
}

.lobby-modal {
  margin: 12px;
}