:host {
  display: flex;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #000414;
  padding: 12px;
  box-sizing: border-box;

  @import '../../../auth/auth.module.scss';

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}