:host {
  display: flex;
  width: 100%;

  @import '../../ascii.module.scss';

  @import '../../../../auth/auth.module.scss';

  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 574px;
    min-width: 574px;
    height: 502px;
    app-tavern {
      width: 510px;
      height: 450px;
    }
  }

  .close-container {
    align-items: flex-start;
    padding: 4px 4px 0px 4px;
    box-sizing: border-box;
    flex-direction: row;
  }

  app-tavern {
    margin-right: 56px;
  }

  app-characters-list {
    padding: 116px 6px;
  }

  .title {
    margin: 8px;
    margin-bottom: 12px;
    text-align: left;
  }

  form {
    align-self: center;
    margin: 12px;
  }

  .name-form {
    margin-top: 116px;
  }

  .fire-title {
    min-height: 168px;
  }
  .fire-form {
    align-items: center;
    
    input {
      background: none;
      border: solid 2px;
      flex: 1;
      outline: none;
      width: 100%;
      color: white;
      padding: 4px;
      padding-bottom: 0px;
      width: 64px;
      margin-bottom: 24px;
    }
  }
}