<div class="overlay-container">
  <div class="modal modal-size">
    <div class="title">
      <app-texture-icon class="actor-icon" [textureService]="charsService" [style.borderColor]="actorColor" [definition]="definition">
        <div class="text-font-inactive health" *ngIf="actorMaxHealth">{{actorHealth}}/{{actorMaxHealth}}</div>
      </app-texture-icon>
      <div class="actor-info-container">
        <div class="title-font-inactive actor-name">{{actorName}}</div>
        <div class="text-font-inactive actor-name">{{actorDescription}}</div>
      </div>
    </div>
    <div class="buffs">
      <div *ngIf="buffs.length === 0" class="buff">
        <div class="article-font-inactive">
          Character doesn't have any effects
        </div>
      </div>
      <div class="buff" *ngFor="let buff of buffs">
        <div class="text-font-inactive buff-icon" [style.color]="buff.color" [style.border-color]="buff.color">
          <div class="article-font-inactive duration" *ngIf="buff.duration">{{buff.duration}}</div>
          {{buff.char}}
        </div>
        <div class="article-font-inactive buff-description">{{buff.description}}</div>
      </div>
    </div>
  </div>
  <app-modal-tabs-component *ngIf="tabs.length > 0" [modalObjects]="tabs" (chooseItem)="changeTab($event)"></app-modal-tabs-component>
</div>
<div class="overlay-filler"></div>