<div class="form full-screen-form">
  <p class="form-text title-font">{{userName}}</p>
  <p class="uid form-text article-font extra">{{userUniqueId}}</p>
  <div class="filler"></div>
  <app-button *ngIf="!inQueue" class="form-info form-button" type="button" [size]="componentSizeEnum.Large" (buttonClick)="searchMatch()">Patrol</app-button>
  <div *ngIf="inQueue" class="queue-screen">
    <p class="form-text text-font">Patrolling</p>
    <p class="form-text title-font">{{ queueTimePassed | date: 'm:ss' }}</p>
    <app-button *ngIf="!exitingFromQueue" class="form-info form-button" type="button" [size]="componentSizeEnum.Medium" (buttonClick)="cancelSearch()">Cancel</app-button>
    <p *ngIf="exitingFromQueue" class="form-text text-font">Cancel</p>
  </div>
  <div class="filler"></div>
  <app-button class="form-info form-button" type="button" [size]="componentSizeEnum.Small" (buttonClick)="toUserSettings()">Settings</app-button>
  <app-button class="form-info form-button" type="button" [size]="componentSizeEnum.Small" (buttonClick)="logOff()">Sign out</app-button>
</div>