<div *ngIf="actors.length > 0" class="left-side">
  <div class="no-one no-one-left" *ngIf="noOneTurn"></div>
  <app-texture-icon
    [textureService]="charsService"
    class="portrait big-portrait" 
    [style.borderColor]="actors[startPosition].color"
    [definition]="actors[startPosition].definition"
    (mouseenter)="enterActorCard(actors[startPosition])"
    (mouseleave)="leaveActorCard()"
    (click)="onClick(actors[startPosition])"
    (contextMenu)="onRightClick(actors[startPosition])">
  </app-texture-icon>
  <div class="no-one" *ngIf="!noOneTurn"></div>
</div>
<div *ngIf="actors.length > 0" class="right-side">
  <div class="portraits-container">
    <app-texture-icon
      [textureService]="charsService"
      class="portrait small-portrait"
      [style.borderColor]="actors[startPosition + 1].color"
      [definition]="actors[startPosition + 1].definition"
      (mouseenter)="enterActorCard(actors[startPosition + 1])"
      (mouseleave)="leaveActorCard()"
      (click)="onClick(actors[startPosition + 1])"
      (contextMenu)="onRightClick(actors[startPosition + 1])">
    </app-texture-icon>
    <app-texture-icon
      [textureService]="charsService"
      class="portrait small-portrait"
      [style.borderColor]="actors[startPosition + 2].color"
      [definition]="actors[startPosition + 2].definition"
      (mouseenter)="enterActorCard(actors[startPosition + 2])"
      (mouseleave)="leaveActorCard()"
      (click)="onClick(actors[startPosition + 2])"
      (contextMenu)="onRightClick(actors[startPosition + 2])">
    </app-texture-icon>
    <app-texture-icon
      [textureService]="charsService"
      class="portrait small-portrait"
      [style.borderColor]="actors[startPosition + 3].color"
      [definition]="actors[startPosition + 3].definition"
      (mouseenter)="enterActorCard(actors[startPosition + 3])"
      (mouseleave)="leaveActorCard()"
      (click)="onClick(actors[startPosition + 3])"
      (contextMenu)="onRightClick(actors[startPosition + 3])">
    </app-texture-icon>
    <app-texture-icon
      [textureService]="charsService"
      class="portrait small-portrait"
      [style.borderColor]="actors[startPosition + 4].color"
      [definition]="actors[startPosition + 4].definition"
      (mouseenter)="enterActorCard(actors[startPosition + 4])"
      (mouseleave)="leaveActorCard()"
      (click)="onClick(actors[startPosition + 4])"
      (contextMenu)="onRightClick(actors[startPosition + 4])">
    </app-texture-icon>
    <app-texture-icon
      [textureService]="charsService"
      class="portrait small-portrait"
      [style.borderColor]="actors[startPosition + 5].color"
      [definition]="actors[startPosition + 5].definition"
      (mouseenter)="enterActorCard(actors[startPosition + 5])"
      (mouseleave)="leaveActorCard()"
      (click)="onClick(actors[startPosition + 5])"
      (contextMenu)="onRightClick(actors[startPosition + 5])">
    </app-texture-icon>
  </div>
  <div *ngIf="timer && timer > 0" class="timer" [style.backgroundColor]="actors[startPosition].color" [style.width]="lineWidth + 'px'">
  </div>
</div>